.btn-primary {
	color: #fff;
	background-color: #00305A;
	border-color: #00223F;
}
.btn-success {
	color: #fff;
	background-color: #80A74C;
	border-color: #6B8C40;
}
.btn {
 border-radius: 3px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	color: #fff;
	background-color: #00305A;
}
a {
  color: #00305A;
  text-decoration: none;
}