.btn-primary {
	color: #fff;
	background-color: #0C3961;
	border-color: #00223F;
}
.btn-success {
	color: #fff;
	background-color: #80A74C;
	border-color: #6B8C40;
}
.btn {
 border-radius: 3px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	color: #fff;
	background-color: #0C3961;
}
a {
	color: #00305A;
	text-decoration: none;
}
.alert-info {
	color: #FFF;
	background: rgba(0, 48, 90, 0.75);
	border-color: #00223F;
}
.alert-success {
	color: #FFF;
	background: #80A74C;
	border-color: #00223F;
}
.progress-bar-success {
	background-color: #80A74C;
}
.panel-primary > .panel-heading {
  color: #FFF;
  background-color: #0C3961;
  border-color: #d6e9c6;
}
.alertify-log-success {
	background: #80A74C;
}